git+git://github.com/pytorch/fairseq.git@main
git+git://github.com/CoderPat/COMET.git@master
git+git://github.com/Unbabel/wmt21-qe-task.git@MBART-without-uncertainty
--force-reinstall git+git://github.com/mjpost/sacrebleu@master
transquest
sentencepiece
sacremoses
fastbpe
